In [3]:
import configparser
import pandas as pd
import boto3
import json

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param                        Value
0        DWH_CLUSTER_TYPE                   multi-node
1           DWH_NUM_NODES                            4
2           DWH_NODE_TYPE                    dc2.large
3  DWH_CLUSTER_IDENTIFIER  redshift-cluster-airflow-ex
4                  DWH_DB                   sparkifydb
5             DWH_DB_USER                      demodi9
6         DWH_DB_PASSWORD                     Demo9494
7                DWH_PORT                         5439
8       DWH_IAM_ROLE_NAME                      dwhRole

In [4]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-east-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-east-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-east-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-east-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [6]:

bucket=s3.Bucket('udacity-dend')
log_data_files = [filename.key for filename in bucket.objects.filter(Prefix='log-data')]
log_data_files[:10]

['log-data/',
 'log-data/2018/11/2018-11-01-events.json',
 'log-data/2018/11/2018-11-02-events.json',
 'log-data/2018/11/2018-11-03-events.json',
 'log-data/2018/11/2018-11-04-events.json',
 'log-data/2018/11/2018-11-05-events.json',
 'log-data/2018/11/2018-11-06-events.json',
 'log-data/2018/11/2018-11-07-events.json',
 'log-data/2018/11/2018-11-08-events.json',
 'log-data/2018/11/2018-11-09-events.json']

In [7]:
song_data_files = [filename.key for filename in bucket.objects.filter(Prefix='song-data/A/A/')]
song_data_files[:10]

['song-data/A/A/A/TRAAAAK128F9318786.json',
 'song-data/A/A/A/TRAAAAV128F421A322.json',
 'song-data/A/A/A/TRAAABD128F429CF47.json',
 'song-data/A/A/A/TRAAACN128F9355673.json',
 'song-data/A/A/A/TRAAAEA128F935A30D.json',
 'song-data/A/A/A/TRAAAED128E0783FAB.json',
 'song-data/A/A/A/TRAAAEM128F93347B9.json',
 'song-data/A/A/A/TRAAAEW128F42930C0.json',
 'song-data/A/A/A/TRAAAFD128F92F423A.json',
 'song-data/A/A/A/TRAAAGR128F425B14B.json']

In [5]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::083999448469:role/dwhRole

In [6]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists

In [7]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,redshift-cluster-airflow-ex
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,demodi9
4,DBName,sparkifydb
5,Endpoint,"{'Address': 'redshift-cluster-airflow-ex.cc1imqf04ldq.us-east-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-c608dcad
7,NumberOfNodes,4

In [8]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ROLE_ARN :: ",DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ROLE_ARN ::  redshift-cluster-airflow-ex.cc1imqf04ldq.us-east-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::083999448469:role/dwhRole

In [13]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0032b14e23c2f0dd0')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [10]:
%load_ext sql

In [11]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://demodi9:Demo9494@redshift-cluster-airflow-ex.cc1imqf04ldq.us-east-2.redshift.amazonaws.com:5439/sparkifydb
(psycopg2.OperationalError) could not connect to server: Connection timed out
	Is the server running on host "redshift-cluster-airflow-ex.cc1imqf04ldq.us-east-2.redshift.amazonaws.com" (3.14.201.114) and accepting
	TCP/IP connections on port 5439?

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [12]:
%%sql

select count(*) as staging_events_count from staging_events;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [13]:
%%sql

select count(*) as staging_songs_count from staging_songs;

 * postgresql://demodi9:***@redshift-cluster-cloud-dwh.ckmeketmstzx.us-east-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(14896,)]

In [14]:
%%sql

select count(*) as users_count from users;

 * postgresql://demodi9:***@redshift-cluster-cloud-dwh.ckmeketmstzx.us-east-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(104,)]

In [15]:
%%sql

select count(*) as song_library_count from song_library;

 * postgresql://demodi9:***@redshift-cluster-cloud-dwh.ckmeketmstzx.us-east-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(14896,)]

In [16]:
%%sql

select count(*) as artist_library_count from artist_library;

 * postgresql://demodi9:***@redshift-cluster-cloud-dwh.ckmeketmstzx.us-east-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(10025,)]

In [17]:
%%sql

select *  from time limit 5;

 * postgresql://demodi9:***@redshift-cluster-cloud-dwh.ckmeketmstzx.us-east-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 1, 20, 57, 10, 796000), 20, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 42, 0, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 1, 29, 36, 796000), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 26, 49, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 31, 0, 796000), 9, 2, 44, 11, 2018, 5)]

In [19]:
%%sql

select count(*) from songplays limit 10;

 * postgresql://demodi9:***@redshift-cluster-cloud-dwh.ckmeketmstzx.us-east-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(333,)]